@import url('https://fonts.googleapis.com/css2?family=Damion&family=Kanit:ital,wght@1,200;1,500&family=Modak&family=Playfair+Display:wght@600&display=swap');
a:link, a:visited{
    color:blue;
    text-decoration:black solid underline 2px
}
.p{
    text-align: justify;
}
marquee{
    margin:0;
}
#War{
    background-color:brown;color:white;
    margin:-8px;
}
.rob{
    max-width: 800px;
    margin: auto;
}
body{
    background-color: rgb(238,223,225);
}
#NOTE{
    color:red;font-size:30px;
}
h1{
    font-family: 'Kanit', sans-serif;
    text-align: center;
    font-size: 50px;
}
table{
    border: 3px solid;
    width:  700px;
    height: 400px;
    text-align: center;

}
th,tr,td{
    border: 1px solid;
}
.WW1 li{
    font-size: 200%;
}
.par{
    font-family: 'Playfair Display', serif;
    font-size: large;
}
.intro{
    font-family: 'Playfair Display', serif;
    text-align: center;
    font-size: large;

}
.navlinks{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: black;
    text-align: center;
    font-size: 50px;
    
}
.navlinks li{
    box-sizing: border-box;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    display: inline-block;
    background-color: rgb(0, 0, 0);
}
.navlinks li a{
    transition: all 0.3s ease 0s;
    color:blanchedalmond;
    text-decoration: none;

}
.navlinks li a:hover{
    transition: all 0.3s ease 0s;
    background-color: brown;
    text-decoration: none;
}
li{
    display:inline center;
}
span{
    float:right
}
.WW1{
    
    text-align: center;
    list-style: inside;
}
h2{
    color:rgb(161, 20, 28)
}
details{
    border: 2px solid brown;
    border-radius: 4px;
    box-sizing: border-box;
}

summary{
    text-align: center;
    font-size: 55px;
    background: brown;
    color: white;
    margin-block-start: 0em;
}
summary:hover{
    background: #7a1f1f;
    cursor:pointer;
    transition: all 0.3s ease 0s;
    font-size: 70px;
}
.header{
    box-sizing: border-box;
    background-color: brown;
}
.separation{
    border: none;
}
th{
    text-align: center;
}
input[type=submit]{
    height: 50px;
    width:70px;
    font-family: 'Playfair Display', serif;
    background-color: brown;
    color:white
}
input[type=submit]:hover{
    height: 50px;
    width:70px;
    font-family: 'Playfair Display', serif;
    background-color: rgba(124, 32, 32, 0.986);
    color:white;
    cursor: pointer;
}
input[type=submit]:active{
    height: 50px;
    width:70px;
    font-family: 'Playfair Display', serif;
    background-color: rgba(0, 0, 0, 0.986);
    color:white;
    cursor: pointer;
}
input[type=radio]{
    border:0px;
    width:100%;
    height:2em; 
}
input[type=radio]:active{
    border:0px;
    width:100%;
    height:2em; 
    background-color: tomato;
}
@media screen and (max-width: 480px){
    img{
        float: none;
    }
    .navlinks li a{
        -webkit-tap-highlight-color: transparent;
        transition: none;
        outline:none;
    }
    .navlinks li{
        display:block; 
    }

}
.Better a{
    font-size: 30px;
    color: brown;
}
.Better a:hover{
    box-sizing: border-box;
    font-size: 45px;
    color: rgb(255, 255, 255);
    transition: all 0.3s ease 0s;
    background-color: black;
}
